body{
    background-color: orange;
}


.logo{
    height: 60px;
}

nav{
    box-shadow: 2px 3px 10px gray;
    z-index: 10;
}

.wrapper{
    box-shadow: 2px 2px 10px black;
}


input:valid{
    border: 2px solid green;
}